/* -----------------------
Base styles
To change: padding and margins, so the inputs are not so far apart.
------------------------*/

/* NAVIGATION */

.imgBox {
  overflow: hidden;
  position: relative;
  margin-top: 1%;
}

.navBarBG {
  opacity: 0.6;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  -webkit-filter: blur(3px); //change the value according to what suits the best
  -moz-filter: blur(3px); //change the value according to what suits the best
  -o-filter: blur(3px); //change the value according to what suits the best
  -ms-filter: blur(3px); //change the value according to what suits the best
  filter: blur(3px); //change the value according to what suits the best
}

.page1BG {
  opacity: 0.2;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.page2BG {
  opacity: 0.2;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.page3BG {
  opacity: 0.2;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.page1 {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
  color: #343a40;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  position: relative;
}

.page2 {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
  color: #343a40;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  position: relative;
}

.page3 {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
  color: #343a40;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  position: relative;
}

.navbar {
  margin-right: 10%;
  margin-left: 10%;
  padding: 50;
  text-align: center;
  padding: 10px;
  position: relative;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  overflow: hidden;
}

.navbar a {
  display: inline;
  margin-top: 100px;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #2d59e7;
  color: white;
}


/* LANDING PAGE - Box 1 */

.knowledgeTestBox {
  overflow: hidden;
  position: relative;
  margin-top: 1%;
  
}


.knowledgeTestBG {
  opacity: 0.6;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  -webkit-filter: blur(3px); 
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
}

.knowledgeTestContent {
  margin-left: 10%;
  margin-right: 10%;
  padding: 50;
  padding-top: 20;
  color: #343a40;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  position: relative;
}

.answer {
  color: #c4191f;
}

/* LANDING PAGE - Box 2 */

.seeYourLGABox {
  overflow: hidden;
  position: relative;
  margin-top: 1%;
}

.seeYourLGABG {
  opacity: 0.4;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  -webkit-filter: blur(5px);
}

.seeYourLGAContent {
  margin-left: 10%;
  margin-right: 10%;
  padding: 50;
  padding-top: 20;
  color: #343a40;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  position: relative;
}

/* LANDING PAGE - Box 3 */

.deeperDive {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 50;
  text-align: center;
  color: #2c5784;
  background-color: #efc69b;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.deeperDiveBox {
  overflow: hidden;
  position: relative;
  margin-top: 1%;
}

.deeperDiveBG {
  opacity: 0.4;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  width: 80%;
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  -webkit-filter: blur(5px);
}

.deeperDiveContent {
  margin-left: 10%;
  margin-right: 10%;
  padding: 50;
  padding-top: 20;
  color: #343a40;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  position: relative;
  text-shadow: #black;
}

/* LANDING PAGE - Box 3 */

.shallowPage {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50;
  text-align: center;
  color: #2c5784;
  background-color: #efc69b;
  font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.form-group {
  margin-top: 0;
}

.form {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.page {
  margin-left: 10%;
  margin-right: 10%;
}



/*.container {
  display: grid;
  grid-template-columns: [line1 first] 1fr [line2] 1fr [line3 last];
  grid-template-rows: [row1start first] auto [row1end row2start] auto [row2end row3Start] auto [row3end end];
  grid-template-areas:
    "LgaAttributes PeopleAttributes"
    "DataRepresentation DataRepresentation";
  justify-items: center;
  /* margin-left: 6%;
  margin-right: 6%;
}
#item-a {
  grid-area: LgaAttributes;
}
#item-b {
  grid-area: PeopleAttributes;
}
#item-c {
  grid-area: DataRepresentation;
  background-color: #bac2ca;
  padding: 12px;
} 
#showingResultsFor {
  text-align: center;
  font-weight: bold;
  background-color: #efc69b;
}
.inputField {
  background-blend-mode: difference;
  padding: 7px;
  border-radius: 25px;
}
#lgaName {
  background-color: #efc69b;
  text-align: center;
}
#minMax, #states {
  background-color: lightblue;
}
#peopleCharacteristics {
  background-color: lightseagreen;
}
#showData {
  text-align: center;
}
.button {
  display: inline-block;
  cursor: pointer;
  background-color: #efc69b;
  border-radius: 4px;
  padding: 15px 32px;
  font-size: 16px;
  margin: 3px;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}*/
body {
  background-color: #F1F4F5;
}



/* */

.formTable {
  vertical-align:top;
  display:inline-block;
}

.formTable tr {
  vertical-align:top;
}

/* styling for the results table  */


.tableFixHead {
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: auto;
  height: 85%;
  width: 80%;
}


.tableFixHead thead th {
  position: sticky;
  top: 0;
}

div > table tr td {
  text-align: center;
}

div > table {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div > table th, div > table td {
  padding: 8px 16px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
} 

div > table th {
  background: #eee;
}




.hide {
  display: none;
}

.help:hover + .hide {
  display: block;
  color: rgb(0, 138, 18);
}



